[class*=illustration-] {
	position: relative;

	&::after {
		pointer-events: none;
	}
}

[class*=illustration-element-]::after {
	z-index: -1;
}

[class*=illustration-section-]::after {
	z-index: -2;
}

// Hero illustration
.illustration-section-01::after {
	@include illustration('illustration-section-03.png', 660px, 78%, null, null, 30px);
}

.illustration-section-02::after {
	@include illustration('curva.png', 280px, 20%, null, 460px, 150px)
}

.illustration-section-03::after {
  @include illustration('spirale.png', 70%, 50%, null, 460px, 150px);
}

// Features illustration 02
.illustration-section-04::after {
	@include illustration('illustration-section-02.svg', 100%, 253px, null, null, null);
}